<%- include("partials/header"); -%>

      <li class="nav-item">
        <a class="nav-link" href="/password-add">Add</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/password-search">Search</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
    </ul>
  </div>
  <span id="username"><%= username %><i id="profile-icon" class="fa-solid fa-user"></i></span>
</nav>

<div class="container-fluid main-body">
  <div class="jumbotron">
    <div class="logo">
      <span class="fa-stack fa-3x">
        <i class="fa-solid fa-unlock fa-stack-2x"></i>
        <i id="fingerprint-icon" class="authorised fa-solid fa-fingerprint fa-stack-1x fa-inverse"></i>
      </span>
    </div>
    <h2 class="display-5 brand">Dashboard</h2>
    <hr class="my-4">
    <p>Add new passwords or search for saved data</p>
    <p class="lead">
      <a class="btn btn-outline-dark btn-lg homepage-button" href="/password-add" role="button"><i class="fa-solid fa-plus"></i></a>
      <a class="btn btn-dark btn-lg homepage-button" href="/password-search" role="button"><i class="fa-solid fa-magnifying-glass"></i></a>
    </p>
    <br>
    <br>
    <form action="/dashboard" method="post" class="form">
      <button class="btn btn-lg btn-outline-danger btn-block delete-account" type="submit">Delete Account <i class="fa-solid fa-trash-can"></i></button>
    </form>
  </div>
</div>



<%- include("partials/footer"); -%>
