<%- include("partials/header"); -%>

        <li class="nav-item">
          <a class="nav-link" href="/register">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login">login</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container-fluid main-body">
    <div class="jumbotron">
      <span class="fa-stack fa-3x">
        <i class="fa-solid fa-lock fa-stack-2x"></i>
        <i id="fingerprint-icon" class="fab fa-solid fa-fingerprint fa-stack-1x fa-inverse"></i>
      </span>
      <h1 class="display-4 brand">ARcrypt</h1>
      <hr class="my-4">
      <p>The secure password manager app</p>
      <p class="lead">
        <a class="btn btn-outline-dark btn-lg homepage-button" href="/register" role="button">Register</a>
        <a class="btn btn-dark btn-lg homepage-button" href="/login" role="button">Login</a>
      </p>
    </div>
  </div>

<%- include("partials/footer"); -%>
