<%- include("partials/header"); -%>


      <li class="nav-item">
        <a class="nav-link" href="/register">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="/login">login</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container-fluid main-body details">
  <div class="logo">
    <span class="fa-stack fa-3x">
      <i class="fa-solid fa-lock fa-stack-2x"></i>
      <i id="fingerprint-icon" class="fab fa-solid fa-fingerprint fa-stack-1x fa-inverse"></i>
    </span>
    <h1 class="display-4 brand">ARcrypt</h1>
  </div>

  <% if (feedback === "Failure") { %>
    <h2 id="feedback">Username or password is incorrect <i id="failure-icon" class="fa-solid fa-triangle-exclamation"></i></h2>
  <% } %>

  <form action="/login" method="post" class="form-signin" autocomplete="off">
    <input name="username" type="text" class="form-control" placeholder="Username" required autofocus>
    <input name="password" type="password" class="form-control" placeholder="Password" required>
    <button class="btn btn-lg btn-dark btn-block login" type="submit">Login</button>
  </form>
</div>

<%- include("partials/footer"); -%>
