<%- include("partials/header"); -%>

<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <a class="navbar-brand" href="/">ARcrypt</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/password-add">Add</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="/password-search">Search</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container-fluid main-body details">
  <span class="fa-stack fa-3x">
    <i class="fa-solid fa-unlock fa-stack-2x"></i>
    <i id="fingerprint-icon" class="fab fa-solid fa-fingerprint fa-stack-1x fa-inverse"></i>
  </span>
    <form action="/password-search" method="post" class="form-signin">
      <input name="website" type="text" value="<%= website %>" class="form-control" placeholder="Website" required autofocus>
      <input name="password" type="text" value="<%= password %>" class="form-control" placeholder="Password" readonly>
      <button class="btn btn-lg btn-dark btn-block register" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
    </form>
</div>

<%- include("partials/footer"); -%>
